## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
name_counts = application_df['NAME'].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [4]:
name_counts[name_counts > 50]

NAME
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
AIR FORCE ASSOCIATION                                                   99
WORKERS UNITED                                                          97
GAMMA THETA UPSILON                                                     92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                 87
ROTARY INTERNATIONAL                                                    84
CALIFORNIA GARDEN CLUBS INC                                             76
SWEET ADELINES INTERNATIONAL                                            73
DISABLED AMERICAN VETERANS                                              73
KLEIN SUPPORT GROUPS INC                                                69
CLEARCREEK I S D SUPPORT GROUPS                                         60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                58
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          57
CISD EDUCATIONAL SUPPORT GROUPS INC                                     57
SONS OF CONFEDERATE VETERANS INC                                        56
SLOW FOOD USA INC                                                       55
NATIONAL YOUNG MENS SERVICE LEAGUE                                      54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                             52
LAMBDA THETA ALPHA                                                      52
Name: count, dtype: int64

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN'], inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
application_df['STATUS'].value_counts()

STATUS
1    34294
0        5
Name: count, dtype: int64

In [7]:
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: count, dtype: int64

In [8]:
application_df['ASK_AMT'].value_counts()

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [9]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [10]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type[app_type<1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 700].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)
application_df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [16]:
# Split our preprocessed data into our features and target arrays
X = application_df_dummies.drop(columns="IS_SUCCESSFUL").values
y = application_df_dummies["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [17]:
application_df.nunique()

NAME                      19568
APPLICATION_TYPE              6
AFFILIATION                   6
CLASSIFICATION                7
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [18]:
ask_count = application_df['ASK_AMT'].value_counts()
ask_count

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [19]:
ask_count[ask_count.index < 5000]

Series([], Name: count, dtype: int64)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403 (1.57 KB)
Trainable params: 403 (1.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 637us/step - loss: 0.6298 - accuracy: 0.6841
Epoch 2/100
804/804 [==============================] - 1s 627us/step - loss: 0.5951 - accuracy: 0.7117
Epoch 3/100
804/804 [==============================] - 1s 642us/step - loss: 0.5859 - accuracy: 0.7173
Epoch 4/100
804/804 [==============================] - 0s 621us/step - loss: 0.5743 - accuracy: 0.7288
Epoch 5/100
804/804 [==============================] - 0s 615us/step - loss: 0.5713 - accuracy: 0.7290
Epoch 6/100
804/804 [==============================] - 1s 622us/step - loss: 0.5703 - accuracy: 0.7302
Epoch 7/100
804/804 [==============================] - 0s 620us/step - loss: 0.5696 - accuracy: 0.7299
Epoch 8/100
804/804 [==============================] - 1s 627us/step - loss: 0.5694 - accuracy: 0.7310
Epoch 9/100
804/804 [==============================] - 1s 632us/step - loss: 0.5684 - accuracy: 0.7302
Epoch 10/100
804/804 [==============================] - 0s 609us/step - loss: 0.5683 - accuracy: 0.7317
Epoch 11/100
804/804 [==============================] - 0s 621us/step - loss: 0.5680 - accuracy: 0.7313
Epoch 12/100
804/804 [==============================] - 1s 623us/step - loss: 0.5679 - accuracy: 0.7308
Epoch 13/100
804/804 [==============================] - 0s 618us/step - loss: 0.5675 - accuracy: 0.7311
Epoch 14/100
804/804 [==============================] - 1s 667us/step - loss: 0.5669 - accuracy: 0.7315
Epoch 15/100
804/804 [==============================] - 1s 642us/step - loss: 0.5667 - accuracy: 0.7315
Epoch 16/100
804/804 [==============================] - 0s 618us/step - loss: 0.5665 - accuracy: 0.7315
Epoch 17/100
804/804 [==============================] - 0s 610us/step - loss: 0.5663 - accuracy: 0.7317
Epoch 18/100
804/804 [==============================] - 1s 652us/step - loss: 0.5663 - accuracy: 0.7310
Epoch 19/100
804/804 [==============================] - 1s 640us/step - loss: 0.5660 - accuracy: 0.7315
Epoch 20/100
804/804 [==============================] - 1s 628us/step - loss: 0.5657 - accuracy: 0.7324
Epoch 21/100
804/804 [==============================] - 0s 619us/step - loss: 0.5657 - accuracy: 0.7321
Epoch 22/100
804/804 [==============================] - 0s 617us/step - loss: 0.5654 - accuracy: 0.7316
Epoch 23/100
804/804 [==============================] - 0s 618us/step - loss: 0.5655 - accuracy: 0.7322
Epoch 24/100
804/804 [==============================] - 1s 637us/step - loss: 0.5655 - accuracy: 0.7315
Epoch 25/100
804/804 [==============================] - 0s 618us/step - loss: 0.5654 - accuracy: 0.7324
Epoch 26/100
804/804 [==============================] - 0s 620us/step - loss: 0.5652 - accuracy: 0.7316
Epoch 27/100
804/804 [==============================] - 1s 622us/step - loss: 0.5651 - accuracy: 0.7322
Epoch 28/100
804/804 [==============================] - 0s 619us/step - loss: 0.5650 - accuracy: 0.7332
Epoch 29/100
804/804 [==============================] - 1s 641us/step - loss: 0.5650 - accuracy: 0.7320
Epoch 30/100
804/804 [==============================] - 0s 616us/step - loss: 0.5649 - accuracy: 0.7330
Epoch 31/100
804/804 [==============================] - 1s 623us/step - loss: 0.5649 - accuracy: 0.7328
Epoch 32/100
804/804 [==============================] - 0s 621us/step - loss: 0.5650 - accuracy: 0.7321
Epoch 33/100
804/804 [==============================] - 0s 616us/step - loss: 0.5649 - accuracy: 0.7322
Epoch 34/100
804/804 [==============================] - 1s 643us/step - loss: 0.5648 - accuracy: 0.7315
Epoch 35/100
804/804 [==============================] - 0s 620us/step - loss: 0.5647 - accuracy: 0.7324
Epoch 36/100
804/804 [==============================] - 0s 620us/step - loss: 0.5647 - accuracy: 0.7327
Epoch 37/100
804/804 [==============================] - 0s 619us/step - loss: 0.5645 - accuracy: 0.7326
Epoch 38/100
804/804 [==============================] - 1s 624us/step - loss: 0.5645 - accuracy: 0.7327
Epoch 39/100
804/804 [==============================] - 1s 638us/step - loss: 0.5643 - accuracy: 0.7323
Epoch 40/100
804/804 [==============================] - 0s 617us/step - loss: 0.5644 - accuracy: 0.7325
Epoch 41/100
804/804 [==============================] - 0s 616us/step - loss: 0.5642 - accuracy: 0.7324
Epoch 42/100
804/804 [==============================] - 0s 616us/step - loss: 0.5643 - accuracy: 0.7324
Epoch 43/100
804/804 [==============================] - 0s 618us/step - loss: 0.5642 - accuracy: 0.7325
Epoch 44/100
804/804 [==============================] - 1s 640us/step - loss: 0.5643 - accuracy: 0.7327
Epoch 45/100
804/804 [==============================] - 1s 628us/step - loss: 0.5640 - accuracy: 0.7331
Epoch 46/100
804/804 [==============================] - 1s 627us/step - loss: 0.5642 - accuracy: 0.7331
Epoch 47/100
804/804 [==============================] - 1s 652us/step - loss: 0.5639 - accuracy: 0.7321
Epoch 48/100
804/804 [==============================] - 1s 627us/step - loss: 0.5636 - accuracy: 0.7334
Epoch 49/100
804/804 [==============================] - 1s 660us/step - loss: 0.5638 - accuracy: 0.7337
Epoch 50/100
804/804 [==============================] - 0s 619us/step - loss: 0.5638 - accuracy: 0.7323
Epoch 51/100
804/804 [==============================] - 1s 633us/step - loss: 0.5639 - accuracy: 0.7329
Epoch 52/100
804/804 [==============================] - 1s 626us/step - loss: 0.5639 - accuracy: 0.7334
Epoch 53/100
804/804 [==============================] - 1s 639us/step - loss: 0.5637 - accuracy: 0.7330
Epoch 54/100
804/804 [==============================] - 1s 650us/step - loss: 0.5638 - accuracy: 0.7331
Epoch 55/100
804/804 [==============================] - 1s 632us/step - loss: 0.5636 - accuracy: 0.7325
Epoch 56/100
804/804 [==============================] - 1s 648us/step - loss: 0.5635 - accuracy: 0.7325
Epoch 57/100
804/804 [==============================] - 1s 627us/step - loss: 0.5636 - accuracy: 0.7330
Epoch 58/100
804/804 [==============================] - 1s 679us/step - loss: 0.5637 - accuracy: 0.7324
Epoch 59/100
804/804 [==============================] - 1s 633us/step - loss: 0.5633 - accuracy: 0.7340
Epoch 60/100
804/804 [==============================] - 1s 630us/step - loss: 0.5637 - accuracy: 0.7313
Epoch 61/100
804/804 [==============================] - 1s 636us/step - loss: 0.5632 - accuracy: 0.7335
Epoch 62/100
804/804 [==============================] - 1s 638us/step - loss: 0.5631 - accuracy: 0.7335
Epoch 63/100
804/804 [==============================] - 1s 624us/step - loss: 0.5633 - accuracy: 0.7327
Epoch 64/100
804/804 [==============================] - 0s 620us/step - loss: 0.5633 - accuracy: 0.7338
Epoch 65/100
804/804 [==============================] - 0s 619us/step - loss: 0.5635 - accuracy: 0.7323
Epoch 66/100
804/804 [==============================] - 1s 636us/step - loss: 0.5631 - accuracy: 0.7333
Epoch 67/100
804/804 [==============================] - 0s 615us/step - loss: 0.5633 - accuracy: 0.7328
Epoch 68/100
804/804 [==============================] - 1s 623us/step - loss: 0.5631 - accuracy: 0.7327
Epoch 69/100
804/804 [==============================] - 1s 634us/step - loss: 0.5633 - accuracy: 0.7331
Epoch 70/100
804/804 [==============================] - 0s 617us/step - loss: 0.5629 - accuracy: 0.7335
Epoch 71/100
804/804 [==============================] - 1s 635us/step - loss: 0.5631 - accuracy: 0.7333
Epoch 72/100
804/804 [==============================] - 1s 622us/step - loss: 0.5629 - accuracy: 0.7331
Epoch 73/100
804/804 [==============================] - 0s 618us/step - loss: 0.5629 - accuracy: 0.7331
Epoch 74/100
804/804 [==============================] - 0s 614us/step - loss: 0.5629 - accuracy: 0.7334
Epoch 75/100
804/804 [==============================] - 1s 639us/step - loss: 0.5630 - accuracy: 0.7337
Epoch 76/100
804/804 [==============================] - 0s 618us/step - loss: 0.5630 - accuracy: 0.7336
Epoch 77/100
804/804 [==============================] - 1s 624us/step - loss: 0.5629 - accuracy: 0.7341
Epoch 78/100
804/804 [==============================] - 1s 623us/step - loss: 0.5631 - accuracy: 0.7335
Epoch 79/100
804/804 [==============================] - 1s 625us/step - loss: 0.5630 - accuracy: 0.7335
Epoch 80/100
804/804 [==============================] - 1s 637us/step - loss: 0.5627 - accuracy: 0.7337
Epoch 81/100
804/804 [==============================] - 1s 629us/step - loss: 0.5630 - accuracy: 0.7331
Epoch 82/100
804/804 [==============================] - 0s 621us/step - loss: 0.5629 - accuracy: 0.7331
Epoch 83/100
804/804 [==============================] - 1s 639us/step - loss: 0.5630 - accuracy: 0.7333
Epoch 84/100
804/804 [==============================] - 1s 634us/step - loss: 0.5627 - accuracy: 0.7332
Epoch 85/100
804/804 [==============================] - 1s 663us/step - loss: 0.5628 - accuracy: 0.7338
Epoch 86/100
804/804 [==============================] - 1s 641us/step - loss: 0.5628 - accuracy: 0.7343
Epoch 87/100
804/804 [==============================] - 1s 640us/step - loss: 0.5627 - accuracy: 0.7338
Epoch 88/100
804/804 [==============================] - 1s 632us/step - loss: 0.5629 - accuracy: 0.7334
Epoch 89/100
804/804 [==============================] - 1s 660us/step - loss: 0.5627 - accuracy: 0.7329
Epoch 90/100
804/804 [==============================] - 1s 622us/step - loss: 0.5627 - accuracy: 0.7341
Epoch 91/100
804/804 [==============================] - 1s 636us/step - loss: 0.5625 - accuracy: 0.7338
Epoch 92/100
804/804 [==============================] - 1s 635us/step - loss: 0.5622 - accuracy: 0.7338
Epoch 93/100
804/804 [==============================] - 1s 655us/step - loss: 0.5626 - accuracy: 0.7335
Epoch 94/100
804/804 [==============================] - 1s 651us/step - loss: 0.5628 - accuracy: 0.7338
Epoch 95/100
804/804 [==============================] - 1s 629us/step - loss: 0.5627 - accuracy: 0.7335
Epoch 96/100
804/804 [==============================] - 1s 641us/step - loss: 0.5625 - accuracy: 0.7338
Epoch 97/100
804/804 [==============================] - 1s 653us/step - loss: 0.5625 - accuracy: 0.7341
Epoch 98/100
804/804 [==============================] - 1s 628us/step - loss: 0.5624 - accuracy: 0.7343
Epoch 99/100
804/804 [==============================] - 1s 625us/step - loss: 0.5625 - accuracy: 0.7345
Epoch 100/100
804/804 [==============================] - 1s 627us/step - loss: 0.5622 - accuracy: 0.7339

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

# AutoOptimizer

In [28]:
number_input_features = len(X_train[0])

# Create a method that creates a new Sequential model with hyperparameter options
def build_model(hp):
    # Create Model
    nn_model = tf.keras.models.Sequential()
    
    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation', ['relu','tanh','sigmoid', 'softmax', 'leaky_relu'])
    layer_activation = hp.Choice('activation', ['relu','tanh','sigmoid', 'softmax', 'leaky_relu'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(
        units=hp.Int('first_units', min_value=1, max_value=16, step=2), 
        activation=activation, 
        input_dim=number_input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 8)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=16,
            step=2),
            activation=layer_activation))

    # Add dropout layer with a choice for dropout rate
    nn_model.add(tf.keras.layers.Dropout(
        hp.Float(f'dropout_{i}', min_value=0.0, max_value=0.5, step=0.1)))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer=tf.keras.optimizers.Adam(learning_rate=hp.Choice('learning_rate', 
                                                                                                            values=[1e-2, 1e-3, 1e-4])), 
                                                                                                            metrics=["accuracy"])

    return nn_model

In [29]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    build_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [30]:
%%time
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=100,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 29s]
val_accuracy: 0.5727113485336304

Best val_accuracy So Far: 0.7972011566162109
Total elapsed time: 00h 18m 44s
CPU times: total: 1h 43min
Wall time: 18min 44s

In [31]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 5,
 'num_layers': 5,
 'units_0': 15,
 'dropout_0': 0.1,
 'learning_rate': 0.001,
 'units_1': 7,
 'units_2': 7,
 'units_3': 15,
 'units_4': 9,
 'units_5': 7,
 'units_6': 5,
 'units_7': 5,
 'dropout_7': 0.4,
 'dropout_6': 0.2,
 'dropout_2': 0.4,
 'dropout_5': 0.0,
 'dropout_4': 0.2,
 'dropout_1': 0.1,
 'dropout_3': 0.2,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 2,
 'tuner/round': 2,
 'tuner/trial_id': '0043'}

In [32]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5434 - accuracy: 0.7972 - 402ms/epoch - 2ms/step
Loss: 0.5434466004371643, Accuracy: 0.7972011566162109

In [33]:
# Export our model to HDF5 file
best_model.save('AlphabetSoupCharity_Optimization.h5')
best_model.save('best_model.keras')

c:\Users\Ellis\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(